@font-face
{
    font-family: msdosfont;
    src: url('../fonts/MorePerfectDOSVGA.ttf') format("truetype");
}

body, html {
    font-family: msdosfont, monospace, sans-serif;
    background-image: url("../img/webbg.png");
    background-attachment: fixed;
    text-align: center;
    margin: 0;
    padding: 0;
}

button
{
    all: unset;
}

.logo
{
    float: left;
}

#downloadButton
{
    color: #00aa00;
    text-shadow: 0px 0px 10px #00aa00, 0px 0px 10px #007700, 0px 0px 10px #00aa00, 0px 0px 10px #007700;
}
#downloadButton:hover
{
    color: #00cc00;
    text-shadow: 0px 0px 10px #00cc00, 0px 0px 10px #009900, 0px 0px 10px #00cc00, 0px 0px 10px #009900;
}

/**
 * Navigation bar
 */

#navigation-container
{
    width: 800px;
    margin: 0 auto;
    height: 64px;
}

.navigation-bar
{
    background-color: #352d2f;
    height: 64px;
    width: 100%;
    text-align:center;
    position: fixed;
    top:0;
}

.navigation-bar img
{
    float:left;
}

.navigation-bar ul
{
    padding: 0px;
    margin: 0px;
    text-align: center;
    display:inline-block;
    vertical-align:top;
}

.navigation-bar li
{
    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline;
}

.navigation-bar li a
{
    color: white;
    font-size: 16px;
    text-decoration: none;
    line-height: 64px;
    padding: 5px 15px;
    text-align: center;
    border: 1px solid rgba(1,1,1,0);
    border-radius: 6px;
}

.navigation-bar li a:hover
{
    border-color: rgba(1,1,1,1);
}

.navigation-bar li button
{
    color: white;
    font-size: 16px;
    text-decoration: none;
    padding: 5px 15px;
    text-align: center;
    border: 1px solid rgba(1,1,1,0);
    border-radius: 6px;
}

.navigation-bar li button:hover
{
    cursor: pointer;
    border-color: rgba(1,1,1,1);
}

/**
 * Contents
 */

.contents
{
    padding-top: 64px;
    padding-bottom: 20px;
    text-align: center;
    display: inline-block;
    color: white;
    
    block-size: fit-content;
}

.contents p
{
    display: inline-block;
    word-break: break-word;
    word-wrap: break-word;

	border: 3px solid white;
	border-radius: 1rem;
	box-shadow: 3px 3px 3px 3px whitesmoke;
    padding: 5px;
}

.contents img
{
    object-fit: cover;
    width: 500px;
    height: 250px;
    overflow: hidden;
    padding: 5px;
}

.contents table
{
    margin-left: auto;
    margin-right: auto;
    font-size: smaller;
    border: 1px solid black;
    padding: 0;
}

.contents table tr td
{
    border: 1px solid black;
}

.contents ul
{
    list-style-type: circle;
}

.contents a
{
    color: white;
}

.contents a:hover
{
    color: gray;
}

/**
 * CRT Effect
*/

.contents::before
{
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}

@keyframes flicker {
    0% {
    opacity: 0.27861;
    }
    5% {
    opacity: 0.34769;
    }
    10% {
    opacity: 0.23604;
    }
    15% {
    opacity: 0.10626;
    }
    20% {
    opacity: 0.18128;
    }
    25% {
    opacity: 0.10626;
    }
    30% {
    opacity: 0.18128;
    }
    35% {
    opacity: 0.23604;
    }
}

.contents::after
{
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0.5s infinite;
}
 
/**
* huge thanks to the author of https://oudkee.neocities.org/tutorials/tutcrt
*/

/**
 * Footer
 */

.footer
{
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #ffff00;
    font-size: small;
    text-shadow: 0px 0px 10px #ffff00, 0px 0px 10px #cccc00, 0px 0px 10px #ffff00, 0px 0px 10px #cccc00;
    line-height: 10px;
    background-color: black;
}